[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "araboud.ca_dist"]
	path = araboud.ca_dist
	url = git@github.com:ataboo/araboud.ca_dist.git
